body{
  margin:0;
}
.text{
  font-size: 20pt;
  font-family: 'Mukta Vaani', sans-serif;
  height: 100%;
  width:48%;
  border: 4px black solid;
  margin:0;
  padding: 0;
  display:block;
}
.text p{
  padding: 30px;
}
h1{
  font-size: 30pt;
  padding-left: 30px;
  padding-top :70px;
}
img{
  border: 4px black solid;
  position: absolute;
  top: 200px;
  right: 0;
}  
 @media screen and (max-width: 600px) {
img{
 float:left;
}
}
